@model IEnumerable<UCP1_PAW_110.Models.Costumer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Costumer")
                
            </th>
            <th>
                @Html.DisplayName("Nomor Telepon")
                
            </th>
            <th>
                @Html.DisplayName("Alamat")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Password")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaCostumer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomorTelepon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCostumer">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCostumer">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCostumer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
